# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.build/
Package.resolved

# Carthage
Carthage/Build/

# CocoaPods
Pods/
